// Fonts
@font-face {
    font-family: 'fine_blackboardregular';
    src: url('../font/fine_blackboard-webfont.eot');
    src: url('../font/fine_blackboard-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fine_blackboard-webfont.woff2') format('woff2'),
         url('../font/fine_blackboard-webfont.woff') format('woff'),
         url('../font/fine_blackboard-webfont.ttf') format('truetype'),
         url('../font/fine_blackboard-webfont.svg#fine_blackboardregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fanwoodregular';
    src: url('../font/Fanwood-webfont.eot');
    src: url('../font/Fanwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Fanwood-webfont.woff') format('woff'),
         url('../font/Fanwood-webfont.ttf') format('truetype'),
         url('../font/Fanwood-webfont.svg#fanwoodregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fanwooditalic';
    src: url('../font/Fanwood-Italic-webfont.eot');
    src: url('../font/Fanwood-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Fanwood-Italic-webfont.woff') format('woff'),
         url('../font/Fanwood-Italic-webfont.ttf') format('truetype'),
         url('../font/Fanwood-Italic-webfont.svg#fanwooditalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'League Gothic';
    src: url('../font/leaguegothic-regular-webfont.eot');
    src: url('../font/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/leaguegothic-regular-webfont.woff') format('woff'),
         url('../font/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../font/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


// Quick colors

$brown-wood:         #453017;
$off-white:          #f5f6f1;

html {
	padding: 0;
	margin: 0;
}
body {
	background: url('../img/dark_wood.png') top left repeat;
	padding: 0;
	margin: 0;
}
.hero-wrapper {
	margin: 20px;
	padding: 15px;
	background: $off-white;
	text-align: center;
}
@media #{$medium-up} {
	.hero-wrapper {
		margin: 30px 30px 0 30px;
		padding: 30px;
	}
}
.logo-wrapper .logo-symbol {
	width: 80px;
}
@media #{$medium-up} {
	.logo-wrapper {
		text-align: left;
	}
	.logo-wrapper .logo-symbol {
		width: 100%;
		max-width: 100px;
	}
}
.display-lg {
	font-family: "fine_blackboardregular", $header-font-family;
	font-weight: normal;
	font-size: rem-calc(52);
	text-transform: uppercase;
	line-height: 1;
	color: $oil;
}
.display-md {
	@extend .display-lg;
	font-size: rem-calc(24);
	line-height: 1.2;
}
.display-sm {
	@extend .display-lg;
	font-size: rem-calc(20);
}
@media #{$medium-up} {
	.display-lg {
		font-size: rem-calc(54);
	}
	.display-md {
		font-size: rem-calc(26);
	}
	.display-sm {
		font-size: rem-calc(22);
	}
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	margin-bottom: 0;
}
.lead-em {
	font-size: $h2-font-size;
	font-family: fanwooditalic, $font-family-serif;
	font-style: italic;
}
.serif {
	font-family: fanwoodregular, $font-family-serif;
}
.highlighted-header {
	background-color: $oil;
	padding: 5px;
	text-transform: uppercase;
	font-size: rem-calc(54);
	font-weight: bold;
	color: $off-white;
	letter-spacing: .05em;
	line-height: 1;
	margin-bottom: 5px;
}
.logo-symbol {
	width: 52px;
	display: block;
	margin: -4px auto 0 auto;
}
@media #{$medium-up} {
	.lead-em {
		font-size: $h1-font-size;
	}
	.highlighted-header {
		display: inline-block;
		padding: 10px;
		font-size: rem-calc(72);
	}
	.logo-symbol {
		display: inline;
	}
}
.badge {
	background: transparent url('../img/badge.svg') no-repeat;
	height: 120px;
	width: 120px;
	text-align: center;
	padding: 30px 18px;
	color: $off-white;
	margin: auto;
	font-size: $h3-font-size;
	line-height: 1;
}
footer {
	background-color: rgba($iron, .85);
	padding: 15px 30px;
	margin: 0;
}
@media #{$medium-up} {
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
.social-bar {
	@extend .text-right;
	font-size: $h2-font-size;
}
.copy-bar {
	@extend .serif;
	padding-top: 15px;
	padding-bottom: 15px;
}