.image-header-wrapper {
	background: #252B33 url("/images/products-hero1.jpg") top center no-repeat;
}
.image-header {
	text-align: center;
	background: rgba(0, 0, 0, .70);
	color: rgba(255, 255, 255, 1);
	min-height: 300px;
	padding-top: 4em;
	margin-bottom: 4em;
}
.image-header .display-lg {
	font-size: $font-size-h2;
	text-shadow: 0 1px 3px rgba(0,0,0,.5)
}
.image-header .display-xl {
	display: inline-block;
	font-size: $font-size-h1;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	border-top: 4px double rgba(255, 255, 255, 1);
	border-bottom: 4px double rgba(255, 255, 255, 1);
	padding: 15px 10px;
	margin: 0;
}
.image-header .display-em {
	font-size: $font-size-h2;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}