/*
 * Masthead Header
 */
.masthead-nav {
  min-height: 80px;
  margin-bottom: 0;
  border-radius: 0;
  background-color: $offwhite;
}
.masthead-brand {
  margin: 0;
  padding: 15px 0;
  height: 80px;
}